.checkdown-wrapper {
  position: relative;
  display: table;
}

.checkdown-content {
  position: absolute;
  display: none;
}

#checkdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

#checkdown::-ms-check {display: none;}
#checkdown:checked ~ .checkdown-content {display: block;}
#checkdown:checked ~ .checkdown-arrow svg {transform: rotate(180deg);}
